<div><a href="/"><button class="bg-transparent btn-animate sj-green border sj-green-border hover:bg-green-700 hover:text-white h
over:border-transparent font-bold px-4 py-2 rounded-full">HOME</button></a></div>
<div><a href="/about-me"><button class="bg-transparent btn-animate sj-green border sj-green-border hover:bg-green-700 hover:text-white h
over:border-transparent font-bold px-4 py-2 rounded-full">ABOUT</button></a></div>
<div><a href="/tag/opensuse"><button class="bg-transparent btn-animate sj-green border sj-green-border hover:bg-green-700 hover:text-white h
over:border-transparent font-bold px-4 py-2 rounded-full">OPENSUSE</button></a></div>
<div><a href="/ubuntu-mauritius"><button class="bg-transparent btn-animate sj-green border sj-green-border hover:bg-green-700 hover:text-white h
over:border-transparent font-bold px-4 py-2 rounded-full">UBUNTU</button></a></div>
<div><a href="/tag/conference"><button class="bg-transparent btn-animate sj-green border sj-green-border hover:bg-green-700 hover:text-white h
over:border-transparent font-bold px-4 py-2 rounded-full">CONFERENCES</button></a></div>
<div><a href="/sanskrit"><button class="bg-transparent btn-animate sj-green border sj-green-border hover:bg-green-700 hover:text-white h
over:border-transparent font-bold px-4 py-2 rounded-full">SANSKRIT</button></a></div>

