<div><button class="bg-transparent btn-animate sj-green border sj-green-border hover:bg-green-700 hover:text-white h
over:border-transparent font-bold px-4 py-2 rounded-full">HOME</button></div>
<div><button class="bg-transparent btn-animate sj-green border sj-green-border hover:bg-green-700 hover:text-white h
over:border-transparent font-bold px-4 py-2 rounded-full">ABOUT</button></div>
<div><button class="bg-transparent btn-animate sj-green border sj-green-border hover:bg-green-700 hover:text-white h
over:border-transparent font-bold px-4 py-2 rounded-full">OPENSUSE</button></div>
<div><button class="bg-transparent btn-animate sj-green border sj-green-border hover:bg-green-700 hover:text-white h
over:border-transparent font-bold px-4 py-2 rounded-full">UBUNTU</button></div>
<div><button class="bg-transparent btn-animate sj-green border sj-green-border hover:bg-green-700 hover:text-white h
over:border-transparent font-bold px-4 py-2 rounded-full">CONFERENCES</button></div>
<div><button class="bg-transparent btn-animate sj-green border sj-green-border hover:bg-green-700 hover:text-white h
over:border-transparent font-bold px-4 py-2 rounded-full">SANSKRIT</button></div>

