<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />
    <script src="https://kit.fontawesome.com/1278c8b4cd.js" crossorigin="anonymous"></script>
    {{ghost_head}}
</head>

<body class="h-screen bg-sj-gray">
<div class="lg:container lg:mx-auto">
    <div class="flex flex-row justify-between bg-white py-10 px-4 header-border">
        <div class="lato-style font-extrabold text-2xl leading-5 sm:w-3/4 sm:text-4xl sm:font-extrabold">
            <a href="/" class="text-black hover:text-black hover:no-underline">{{@site.title}}</a><br>
            <span class="text-lg font-light sm:text-2xl sm:font-light">
                {{@site.description}}
            </span>
        </div>

        <div class="flex flex lg:flex lg:flex-row gap-4 nav-menu hidden lg:block lato-style">
            {{> "navigation"}}
        </div>
    </div>

    <div class="flex gap-6">
        <div class="bg-white sm:w-full lg:w-3/4 py-10 px-4 mt-6">
            {{{body}}}
        </div>

    <div class="flex flex-col lg:flex lg:flex-col lg:w-1/4 mt-6 hidden lg:block">
      <div class="bg-white py-10 px-6 text-4xl sj-green">
        <div class="flex flex-row justify-between">
        <a href="https://twitter.com/IshSookun"><i class="fab fa-twitter hover:text-blue-500 btn-animate"></i></a>
        <a href="https://www.facebook.com/ish.sookun"><i class="fab fa-facebook-square hover:text-blue-800 btn-animate"></i></a>
        <a href="https://www.youtube.com/c/IshSookun"><i class="fab fa-youtube hover:text-red-700 btn-animate"></i></a>
        <a href="https://www.instagram.com/ish.sookun"><i class="fab fa-instagram-square hover:text-red-600 btn-animate"></i></a>
        <a href="https://www.linkedin.com/in/ishsookun"><i class="fab fa-linkedin hover:text-blue-600 btn-animate"></i></a>
        <a href="https://github.com/ishwon"><i class="fab fa-github hover:text-gray-800 btn-animate"></i></a>
        </div>
      </div>
      <div class="bg-white py-10 px-4 mt-6 justify-center">
        <a class="twitter-timeline" data-theme="light" data-height="1000" href="https://twitter.com/IshSookun?ref_src=twsrc%5Etfw">Tweets by IshSookun</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
      </div>
    </div>
    </div>
  
  </div>
  
  <div class="w-full mx-auto lato-style text-lg text-center bg-sj-green text-white py-10 mt-6">
       
       SYSADMIN JOURNAL is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" class="text-white underline hover:no-underline">Creative Commons</a> Attribution-ShareAlike 4.0 International License.<br> <a href="https://github.com/ishwon/defaultvalues-v2" class="text-white underline hover:no-underline">DefaultValues v2</a> theme for Ghost. Site cached by <a href="https://lsldigital.com" class="text-white underline hover:no-underline">LSL Digital</a> in Mauritius.
    </div>

</body>
</html>
