@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');

p {
  font-family: "Gentium Book Basic", serif;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

a {
  color: #076351;
  hover: #000;
  active: #076351;
  visited: #076351;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Gentium Book Basic", serif;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 2.5rem;
  margin-bottom: 1.25rem;
}

h2 {
  font-family: "Gentium Book Basic", serif;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 2.5rem;
  margin-bottom: 1.25rem;
}

code {
    font-family: "Ubuntu Mono";
    background: none;
    border: 1px solid #000;
    border-radius: 5px;
    line-height: 25px;
    line-height: 1.5625rem;
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    padding: 2.5px 4px;
    padding: 0.15625rem 0.25rem
}

pre {
    font-family: "Ubuntu Mono";
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    overflow-y: hidden;
    font-size: 18px;
    line-height: 20px;
    background: #000;
    margin-bottom: 1rem;
    padding: 10px;
    color: #fff;
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

blockquote {
    font-family: 'Gentium Book Basic', 'IBM Plex Serif', sans-serif;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.5
}

img {
    display: block;
    max-width: 100%;
    min-height: 0;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

figcaption {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: 'Fira Mono', Monospace, sans-serif;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

ol,
ul {
    list-style-type: disc;
    margin: 0.5rem 0 1rem 1.5rem;
}

.blog-title {
  font-family: "Gentium Book Basic", serif, sans-serif;
}

.book-style {
  font-family: "Gentium Book Basic", serif, sans-serif;
}

.lato-style {
  font-family: "Lato", sans, sans-serif;
}

.image-caption {
  font-family: "Fira Mono", monospace, mono, sans, sans-serif;
}

.nav-menu {
  font-size: 12px;
  font-size: 0.875rem;
}

.subtitle {
  font-size: 16px;
  font-size: 1rem;
}

.header-border {
  border-top-color: #0da688;
  border-top-width: medium;
}

.sj-green {
  color: #076351;
}

.sj-green-border {
  border-color: #076351;
}

.sj-green-hover {
  color: #053f33;
}

.bg-sj-green {
  background-color: #076351;
}

.bg-sj-gray {
  background-color: #efefef;
}

.btn-animate {
  -webkit-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
} 

.footer-style {

}

div#footer-style a:link { color: #fff }
div#footer-style a:hover {color: #fff; text-decoration: underline}
div#footer-style a:visited { color: #fff }
div#footer-style a:active { color: #fff }

.kg-image {

}

.kg-width-wide {

}

.kg-width-full {

}

.kg-gallery-container {

}

.kg-gallery-row {

}

.kg-gallery-image {

}

.kg-bookmark-card {

}

.kg-bookmark-container {

}

.kg-bookmark-content {

}

.kg-bookmark-title {

}

.kg-bookmark-description {

}

.kg-bookmark-metadata {

}

.kg-bookmark-icon {

}

.kg-bookmark-author {

}

.kg-bookmark-publisher {

}

.kg-bookmark-thumbnail {

}
